* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    text-align: center;
    color: #E0E1DD;

}

body {
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 23px;
    background-color: #ffffff;
}
/*Inicio pagina Datos personales*/
.main_header {
    background-color: #E0E1DD;
    text-align: center;
    padding: 20px;
    
}

.main_header_nav ul {
    display: flex;
    justify-content: center;
}

.main_header_nav {
    text-align: center;
}

.main_header_nav_boton {
    background-color: #334970;
    width: 340px;
    height: 386.41;
    padding: 18px;
    margin-top: 30px;
    margin-bottom: 31px;
    margin-right: 30px;
    border-radius: 10px;

}

.main_header_nav_boton:hover {
    padding: 20px;
    color: #1B263B;
    background-color:#ffffff;
    position: relative;
    left: 10px;
    transition: all 100ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

main {
    padding: 50px;
}

.main_h1_curriculum {
    padding: 25px;
    text-align: center;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #1B263B;
    font-size: 55px;
}

.main_presentacion {
    display: flex;
    justify-content: center;
}

.main_presentacion_caja {
    line-height: 3;
    display: flex;
    background-color: #334970;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 45px;
    border-radius: 15px;
    color:#ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.main_presentacion_caja ul {
    list-style: none;
}
.img{
    width: 350px;
    height: 386.41px;
    flex-shrink: 0;
    border: #ffff solid 3px;
    border-radius: 15px;
    margin: 15.5px;
    
}

/* FOOTER */

.contacto{
    background-color: #E0E1DD;
    padding: 10px 0 10px 0;
    color: #334970;
    text-align: center;
}
.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .contenido-seccion .fila .col{
    margin-top: 20px;
    padding: 30px;
}
.contacto .contenido-seccion .fila .col h2{
    color: #E0E1DD;
}
h3{
  font-size: 90px;
  -webkit-text-stroke: 1px #ffffff;
}

/*Fin pagina Datos personales*/

/*Inicio pagina estudios*/
.main_estudios_caja{
    line-height: 2;
    display: flex;
    margin: 120px;
    background-color: #D9D9D9;
    padding: 45px;
    align-items: center;
}
img{
    background-color: #fff;
}
/*Fin pagina estudios*/

/*Inicio pagina conocimientos*/
.main_conocimientos_caja{
    line-height: 3;
    display: flex;
    margin: 80px;
    padding: 45px;
    align-items: center;
}

.main_conocimientos_caja{
    padding: 25px;
    text-align: center;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #1B263B;
    font-size: 55px;
}
.main_conocimientos_caja ul {
    list-style: none;
}
/*Fin pagina conocimientos*/

/*Inicio pagina competencias*/
.main_competencia_caja{
    line-height: 2;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 800;
    padding: 45px;
    align-items: center;
}
.main_competencia_caja ul{
    list-style: none;
}


/*Fin pagina competencias*/

/*Inicio página trabajo*/
.main_trabajo_caja{
    line-height: 3;
    display: flex;
    background-color: #D9D9D9;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 45px;
    align-items: center;
}
.main_trabajo_caja ul{
    list-style: none;
}

/*Fin página trabajo*/

footer{
    position: relative;
    width: 100%;
    bottom: 0;
}

@media(max-width:550px){
    body{
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .main_h1_curriculum{
        font-size: 280%;
    }
    .main_header_nav ul{
        display: flex;
        flex-wrap: wrap;
    }
    .main_header_nav_boton{
        background-color: #334970;
        width: 8em;
    }
    .main_presentacion_caja{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .main_estudios_caja{
        display: flex;
        flex-direction: column-reverse;
    }
    .main_conocimientos_caja{
        display: flex;
        flex-direction: column-reverse;
    }
    .main_competencia_caja{
        display: flex;
        flex-direction: column-reverse;
    }
    .main_trabajo_caja{
        display: flex;
        flex-direction: column-reverse;
    }
    .img{
        width: 291px;
        height: 300.41px;
    }
}